parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     8000
    database_name:     default
    database_user:     root
    database_password: ~
    locale:            en
    secret:            GXHiW4Lrs>CkKQh3q{
